*{
    margin:0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.nav{
    border-radius: 15px;
    height:750px;
    width:1200px;
    position: relative;
    margin:20px 100px 20px 100px;
}
.nav .banner{
    border-radius: 15px;
    height:750px;
    width:1200px;
    position:absolute;
    z-index: 2;
    background: linear-gradient(rgba(0, 0, 0, 0.8)50%,rgba(255, 255, 255, 0.0));
}
.nav .img{
    border-radius: 15px;
    height:750px;
    width:1200px;
    position:absolute;
    z-index: -1;
}

.nav .text{
    border-radius: 15px;
    height:750px;
    width:1200px;
    position:absolute;
    z-index: 5;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
.nav .text h1{
    align-items: center;
    color: aliceblue;
    margin-bottom:2%;
    font-size: 300%;


}
.nav .text h3{
    font-size: 300%;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-top: 20%;
    margin-bottom:2%;

}
main .part1{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom:50px;
}
main .part1 h1{
    color: red;
    margin-bottom:45px;
    font-size:70px ;
    font-family: 'Roboto', sans-serif;
}
main .part1 p{
    color: red;
    margin-bottom:10px;
    font-size:19px ;
    
}
main .part1 h2{
    
    margin-bottom:25px;
    font-size:38px ;
    
}
main .part1 img{
    
    margin-bottom:25px;
  
    
}
main .part2{
    border-radius:16px;
    color: aliceblue;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    background-image: url("image/victory.png");
    filter: brightness(70%);
    background-size:cover;
    background-position:center;
    margin:20px 30px 20px 100px;
}
main .part2 .d1{
    width: 60%;
    padding: 4%;
}
main .part2 .d2{
    width: 40%;
    padding:4%;
}
main .part2 h1{
    font-size:50px;
    margin-bottom:20px;
    
}
main .part2 p{
    font-size:20px;
    margin-bottom:20px;
    
    
}
main .part2 button{
   font-size:20px;
   background-color: transparent;
   color: aliceblue;
   border: 0px;
   padding:12px;
}
.btn:hover{
    background-color: aqua;
    color: crimson;
    border-radius: 16px;
}

main .part3{
    margin:30px 30px 30px 100px;
    border-radius: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding:80px;
    background:linear-gradient(rgba(172, 255, 197,0.7),white);
}
main .part3 h2{
    margin-bottom:5px;
}
main .part3 span{
    color: rgb(240, 32, 32);
}
.btn1{
    margin-top: 5px;
    padding:10px;
    border:0px;
    border-radius:8px;
    background-color: crimson;
    color: aliceblue;
}
.btn1:hover{
    background-color: aquamarine;
    color: blueviolet;
}

main .part4{
    margin:60px 30px 30px 100px;
    padding:60px;
    border-radius: 16px;
    text-align: center;
    justify-content: space-around;
    align-items:center;
    display: flex;
    background: linear-gradient(rgba(151, 232, 235,0.10),white);
}
.part4 .dleft{
    text-align: left;
    width: 33%;
    
}
.part4 .dleft h5{
   font-size: 20px;
   margin-bottom:18px;
   color:red;
    
}
.part4 .dleft h1{
   font-size: 40px;
   margin-bottom:20px;
    
}
.part4 .dleft p{
     color: grey;
     font-weight: lighter;
    
}
.part4 .dmid{
    text-align: center;
    width: 33%;
    
}
.part4 .dright h1{
    font-size:45px;
    color: red;
    margin-bottom: 25px;
    
}
.part4 .dright p{
    
    margin-bottom: 30px;
    color: grey;
    font-weight: 400;
}
.part4 .dright{
    padding:20px 10px 10px 10px;
    text-align:left;
    align-items: center;
    justify-content: center;
    width: 33%;
    
}
.part4 .dmid img{
    border-radius:50%;
    outline: 10px solid red;
    outline-offset:20px;
    text-align: left;
    
}
main .part5{
    text-align: center;
    justify-content: center;
    padding:30px 30px 10px 30px;
    margin:0px 100px 10px 100px;
}

main .part5 h4{
    margin-bottom:20px;
}
main .part5 h1{
    margin-bottom:20px;
    font-size: 50px;
    font-family: 'Salsa', cursive;
}
main .part5 p{
  padding:0px 100px 5px 100px;
  margin-bottom: 40px;
}
main .part5 h1 span{
    color:red;
}
.box{
    margin:0px 180px 40px 180px;
    height:500px;
    width:990px;
    position:relative;
  }
  .box .line{
    height:112.5px;
    width:990px;
    position:absolute;
    bottom:0px;
    
  }
  .box .obox{
    position:absolute;
    height:500px;
    width:550px;
    top:40px;
    left:20px;
    margin-top:0px;
  }
  .box .model{
    position:absolute;
    height:388px;
    width:350px;
    top:px;
    right:0;
    
  }
  .box .disc{
    position:absolute;
    width:225px;
    right:240px;
    top:106px;
  }
main .part6{
    padding:10px;
    margin:30px 90px 30px 100px;
    text-align: left;
    justify-content: center;
    align-items:center;
}
main .part6:hover{
    border-radius:10px;
    box-shadow:5px 5px 5px grey,-5px -5px 5px grey;
}
main .part2:hover{
    border-radius:10px;
    box-shadow:5px 5px 5px grey,-5px -5px 5px grey;
}
main .part3:hover{
    border-radius:10px;
    box-shadow:5px 5px 5px grey,-5px -5px 5px grey;
}
main .part4:hover{
    border-radius:10px;
    box-shadow:5px 5px 5px grey,-5px -5px 5px grey;
}

main .part6 h3{
    color:red;
    margin-bottom:20px;
}
main .part6 h1{
    margin-bottom:20px;
    font-size:40px;
}
main .part6 p{
    margin-bottom:20px;
    
}

main .part6 .img img{
    width:30%;
    margin:10px;
    border-radius:10px;
    
}
main .part6 .img img:hover{
    box-shadow:5px 5px 5px black,-5px -5px 5px black;
}
main .part7{
    border-radius:8px;
    margin:20px 100px;
    padding:40px 200px;
    text-align:center;
    justify-content:center;
    align-items:center;
    background: rgba(255, 0, 0, 0.05);

    
}
main .part7 img{
    margin-bottom:20px;
}
main .part7 h1{
    font-size:40px;
    margin-bottom: 15px;
}
main .part7 p{
    
    margin-bottom: 18px;
}
main .part7:hover{
    box-shadow:5px 5px 5px black,-5px -5px 5px black;
}
main .part7 input{
    width:60%;
    padding:8px;
    border: 0px;
    background-color: aliceblue;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
main .part7 button{
    padding:8px;
    background-color: rgb(255, 0, 51);
    color: aliceblue;
    border: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius:15px ;
}
main .part7 button:hover{
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }
footer{
    margin:50px 0px 0px 0px;
    padding: 100px;
    background-color:black;
    color:antiquewhite;
}
footer .footer1{
    display: flex;
    text-align: left;
    justify-content:space-between;
    align-items: center;
    margin-bottom:20px;
    border-bottom: 1px solid grey;
    padding-bottom: 30px;

}   
footer .img{
    padding:20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom:1px solid grey;
}
footer .img img{
    width:30px;
    margin-right: 10px;
}
footer .lfoot{
    display: flex;
    padding-top:40px;
    justify-content: space-between;
    text-align: left;
    align-items: center;
}
.btnl{
    padding:5px;
    background-color: black;
    color: aliceblue;
    border: 0px;
    border-radius:10px;

}
.btnl:hover{
    background-color: red;
    color: black;
}
@media screen and (max-width:572px){
    .nav{
        border-radius: 15px;
        height:200px;
        width:98%;
        position: relative;
        margin:4px 10px 14px 10px;
    }
    .nav .banner{
        border-radius: 15px;
        height:200px;
        width:98%;
        position:absolute;
        z-index: 2;
        background: linear-gradient(rgba(0, 0, 0, 0.8)50%,rgba(255, 255, 255, 0.0));
    }
    .nav .img{
        border-radius: 15px;
        height:200px;
        width:98%;
        position:absolute;
        z-index: -1;
    }
    
    .nav .text{
        border-radius: 15px;
        height:200px;
        width:98%;
        position:absolute;
        z-index: 5;
        text-align: center;
        justify-content: center;
        align-items: center;
        
    }
    .nav .text h1{
        align-items: center;
        color: aliceblue;
        margin-bottom:2%;
        font-size: 100%;
    
    
    }
    .nav .text h3{
        font-size: 100%;
        align-items: center;
        color: rgb(255, 255, 255);
        margin-top: 20%;
        margin-bottom:2%;
    
    }
    main .part1{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom:20px;
    }
    main .part1 h1{
        color: red;
        margin-bottom:15px;
        font-size:30px ;
        font-family: 'Roboto', sans-serif;
    }
    main .part1 p{
        color: red;
        margin-bottom:10px;
        font-size:19px ;
        
    }
    main .part1 h2{
        
        margin-bottom:25px;
        font-size:28px ;
        
    }
    main .part1 img{
        
        margin-bottom:5px;
        
        
    }
    main .part2{
        border-radius:16px;
        color: aliceblue;
        flex-direction: column;
        text-align:center;
        justify-content: center;
        align-items: center;
        background-image: url("image/victory.png");
        filter: brightness(70%);
        background-size:cover;
        background-position:center;
        margin:2px 10px 20px 10px;
    }
    main .part2 .d1{
        width: 100%;
        padding: 2%;
    }
    main .part2 .d2{
        width: 100%;
        padding:4%;
    }
    main .part2 .d2 img{
        width:50%;
    }
    main .part2 h1{
        font-size:30px;
        margin-bottom:10px;
        
    }
    main .part2 p{
        font-size:10px;
        margin-bottom:10px;
        
        
    }
    main .part2 button{
       font-size:10px;
       background-color: transparent;
       color: aliceblue;
       border: 0px;
       padding:5px;
    }
    .btn:hover{
        background-color: aqua;
        color: crimson;
        border-radius: 16px;
    }
    main .part3{
        margin:5px 10px 20px 10px;
        border-radius: 16px;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding:5px;
        background:linear-gradient(rgba(172, 255, 197,0.7),white);
    }
    main .part3 h2{
        margin-bottom:5px;
    }
    main .part3 span{
        color: rgb(240, 32, 32);
    }
    .btn1{
        margin-top: 5px;
        padding:5px;
        border:0px;
        border-radius:8px;
        background-color: crimson;
        color: aliceblue;
    }
    .btn1:hover{
        background-color: aquamarine;
        color: blueviolet;
    }
    main .part4{
        margin:6px 10px 20px 10px;
        padding:6px;
        border-radius: 16px;
        text-align: center;
        flex-direction: column;
        align-items:center;
        display: flex;
        background: linear-gradient(rgba(151, 232, 235,0.10),white);
    }
    .part4 .dleft{
        text-align: left;
        width: 100%;
        
    }
    .part4 .dleft h5{
       font-size: 20px;
       margin-bottom:10px;
       color:red;
        
    }
    .part4 .dleft h1{
       font-size: 20px;
       margin-bottom:5px;
        
    }
    .part4 .dleft p{
         color: grey;
         font-weight: lighter;
        
    }
    .part4 .dmid{
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
        width: 100%;
        
    }
    .part4 .dright h1{
        font-size:25px;
        color: red;
        margin-bottom: 5px;
        
    }
    .part4 .dright p{
        
        margin-bottom: 10px;
        color: grey;
        font-weight: 400;
    }
    .part4 .dright{
        padding:10px 5px 10px 5px;
        text-align:left;
        align-items: center;
        justify-content: center;
        width: 100%;
        
    }
    .part4 .dmid img{
        width: 50%;
        border-radius:50%;
        outline: 5px solid red;
        outline-offset:10px;
        text-align: left;
        
    }
    main .part5{
        text-align: center;
        justify-content: center;
        padding:10px 10px 5px 10px;
        margin:10px 10px 0px 10px;
    }
    
    main .part5 h4{
        margin-bottom:20px;
    }
    main .part5 h1{
        margin-bottom:20px;
        font-size: 30px;
        font-family: 'Salsa', cursive;
    }
    main .part5 p{
      padding:0px 10px 5px 10px;
      margin-bottom: 10px;
    }
    main .part5 h1 span{
        color:red;
    }
    .box{
        margin:0px 10px 20px 10px;
        height:250px;
        width:95%;
        position:relative;
      }
      .box .line{
        height:60px;
        width:95%;
        position:absolute;
        bottom:0px;
        
      }
      .box .obox{
        position:absolute;
        height:170px;
        width:45%;
        top:70px;
        left:10px;
        margin-top:0px;
      }
      .box .model{
        position:absolute;
        height:170px;
        width:45%;
        top:20px;
        right:18px;
        
      }
      .box .disc{
        position:absolute;
        width:20%;
        right:150px;
        top:80px;
      }
      main .part6{
        padding:10px;
        margin:10px 5px 20px 5px;
        text-align: left;
        justify-content: center;
        align-items:center;
    }
    main .part6 .img img{
        width:40%;
        margin:10px;
        border-radius:10px;
        
    }
    main .part7{
        border-radius:8px;
        margin:10px 5px 20px 10px;
        padding:10px 10px;
        text-align:center;
        justify-content:center;
        align-items:center;
        background: rgba(255, 0, 0, 0.05);
      
    }   
    footer{
        margin:25px 0px 0px 0px;
        padding: 5px;
        background-color:black;
        color:antiquewhite;
    }
    footer .footer1{
        display: flex;
        text-align: left;
        justify-content:space-between;
        align-items: center;
        margin-bottom:20px;
        border-bottom: 1px solid grey;
        padding-bottom: 30px;
    }  
footer .footer1 .f1,.f2{
    font-size:10px;
} 
    footer .img{
        padding:20px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        border-bottom:1px solid grey;
    }
    footer .footer1 img{
        width:10%;
    }
    footer .lfoot{
        display: flex;
        padding-top:20px;
        justify-content: space-between;
        text-align: left;
        align-items: center;
        padding-bottom: 15px;
    }
}